#ageCalc{
    background-color: black;
    height: 200px;
    width: 200px;
    color: brown;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}